$crcl-trans-black: rgba(0,0,0,.7);
$crcl-white: #FFF;

.crcl-banner{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 30px;
  min-height: 30px;
  display: block;
  background-color: $crcl-trans-black;
  color: $crcl-white;
}