$crcl-trans-black: rgba(0,0,0,.7);
$crcl-white: #FFF;

.crcl-banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  display: block;
  background-color: $crcl-trans-black;
  color: $white;
}